<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/gloab.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/index.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/admin.css">
<script type="text/javascript" src="../javascripts/jQuery.js"></script>
<script type="text/javascript" src="../javascripts/admin.js"></script>
</head>
<body>
<nav class="nav">
  <div class="body_wid ">
    <a class="logo" href="#"><img src="../images/logo.png"></a>
    <ul class="nav_ul">
      <li class="nav_li hover"><a href="/">网站首页</a></li>
      <li class="nav_li"><a href="/blogPage">前端技术</a></li>
      <li class="nav_li"><a href="#">UI设计</a></li>
      <li class="nav_li"><a href="#">青春印刻</a></li>
      <li class="nav_li"><a href="#">时光机器</a></li>
    </ul>
    <p class="nav_p"><a href="/login" class="index_login">登录</a></p>
  </div>
</nav>
<!-- admin content start -->
<section class="admin">
  <article class="nume fixed">
    <h3 class="userphoto"><img src="../images/photo.jpg" /></h3>
    <a class="item active" href="#"><i ></i>发布</a>
    <a class="item" href="#"><i ></i>管理</a>
    <a class="item" href="#"><i ></i>通知</a>
    <a class="item" href="#"><i ></i>私信</a>
    <a class="item" href="#"><i ></i>设置</a>
  </article>
  <div class="cont">
    <article class="contLeft fixed">
      <h3 class="title">发布 </h3>
      <p class="title font12">可按以下分类发布网站信息，按我创建的、参与的和归档的项目分类</p>
      <a class="item active marT" href="#"><i ></i>发布博客</a>
      <a class="item" href="#"><i ></i>发布新闻</a>
      <a class="item" href="#"><i ></i>发布游记</a>
      <a class="item" href="#"><i ></i>发布图文</a>
      <a class="item" href="#"><i ></i>征集驴友</a>
    </article>
    <div class="contRight">
      <h3 class="pageTitle">发布博客<span class="cross" title="发布"></span></h3>
      <div class="addBlog">
        <input  type="text" class="BlogTitle" />
        <textarea class="BlogCont"></textarea>
        <p class="choice"><code class="radio"></code>公开  <code class="radio active marL"></code>私有</p>
        <p> <span class="BlogSubmit">发布</span></p>
      </div>
      <!-- <form class="form-signin" method="post" action='http://10.60.217.151:3000/file-upload' enctype=multipart/form-data>
        <h3 class="pageTitle">上传图像</h3>
        <input id="loadPhoto" type="file" name="thumbnail" multiple class="form-control" />     
        <br/>
        <button  type="submit">上 传</button>
      </form> -->
    </div>
  </div>
</section>
</body>
</html>


