<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../stylesheets/gloab.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/index.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/indexModel.css">
<script type="text/javascript" src="../javascripts/jQuery.js"></script>
<script type="text/javascript" src="../javascripts/index.js"></script>
<!–[if lt IE9]> 
<script  src="../javascripts/html5.js"></script>
<![endif]–>
</head>
<body>
<nav class="nav">
  <div class="body_wid ">
    <a class="logo" href="#"><img src="../images/logo.png"></a>
    <ul class="nav_ul">
      <li class="nav_li hover"><a href="/">网站首页</a></li>
      <li class="nav_li"><a href="/blogPage">前端技术</a></li>
      <li class="nav_li"><a href="#">UI设计</a></li>
      <li class="nav_li"><a href="#">青春印刻</a></li>
      <li class="nav_li"><a href="#">时光机器</a></li>
      <li class="nav_li"><a href="/login">后台</a></li>
    </ul>
    <p class="nav_p"><a href="/login" class="index_login">登录</a></p>
  </div>
</nav>
<div class="login">
  <p class="al-Warning-box"><span class="al-ico"></span></p>
  <p>用户名：<input type="text" class="username" /></p>
  <p>密 &nbsp&nbsp 码：<input type="password" class="password" /></p>
  <p><a id="login" class="admin">登 录</a></p>
</div>
<!-- conyent end -->
<footer class="footer clearfloat">
  <ul class="body_wid">
    <li class="foot_dt">
       <h3><img src="../images/logo.png"></h3>
       <p class="mar20">我们的使命在于交流分享最前沿的互联网技术，帮助更多的人实现梦想！<br />
        Copyright © 2013 imooc.com All Rights Reserved <br />
        京ICP备 13046642号-2 </p>
    </li>
    <li class="foot_dd">
      <a href="#">网站首页</a>
      <a href="#">内容招募</a>
      <a href="#">青春印刻</a>
      <a href="#">时光机器</a>
      <a href="#">UI设计</a>
    </li>
    <li class="foot_dd"></li>
  </dl>
</footer>
</body>
</html>

