/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	font-family: '微软雅黑';
	color: #666;
	font-size:100%;
	overflow-x: hidden;
	background-color: #eeeff1;
}
input{
	padding: 0;
	margin: 0;
	vertical-align: middle;
}
ul, li {
	list-style-type: none;
}
a {
	color: #555;
	outline: none;
	text-decoration: none;
}
.mar20{
	margin-top: 20px;
}
a:hover {
	text-decoration: underline;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clearfloat:after {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}
.clearfloat:before {
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0
}
::-moz-selection{background:#2fad6b; color:#fff;} 
::selection {background:#2fad6b; color:#fff;} 

/* 公共样式 */
.al-warning-box{
	min-width: 260px;
	width: auto;
	height: 30px;
	padding: 5px 10px;
	color: #666;
	background-color: #fff1cf;
	border: 1px solid #ffd991; 
	box-sizing: border-box;
}
.al-ico{
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #7cd192;
	position: relative;
	display: inline-block;
}
.al-ico:before{
	content: '';
	width: 2px;
	height: 8px;
	position: absolute;
	background-color: #FFF;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
};
.al-ico:before{
	content: '';
	width: 2px;
	height: 4px;
	position: absolute;
	background-color: #FFF;
	transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
};